DB_NAME=sakukoperasi_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

AUTO_SEED_ADMIN=true
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=admin12345
DEFAULT_ADMIN_EMAIL=admin@sakukoperasi.local
